<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>
    <h1>Acerca de la creadora</h1>
    <h3 class="acerca">{{creadora}}, fundadora de {{nombre}}, vive en la ciudad de {{ciudad}}, y
        desde hace ya 6 años se dedica al rubro de {{rubro}}.
        <br>
        <br>
        Así como sus alimentos, también a ella la vemos
        esforzándose por mantenerse saludable.
        <br>
        <br>
        En ocasiones, también la podemos encontrar con su ayudante, y cada vez que puede,
        se encuentra viajando.
        <br>
        <br>
        <div class="container">
        <span><img src="/images/anaIcaro.png"></span>
        <span><img src="/images/anaSpider.png"></span>
        <span><img src="/images/aguaymantoParis.png"></span>
        </div>
        <span><a href="/">Volver al Inicio</a></span>
    </h3>
  </body>
</html>