<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Gallery</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>
    <h1>Galería de creaciones</h1>
    <br>
    <br>
    <div class="container">
        <span><img src="/images/fideosRojos.png"></span>
        <span><img src="/images/pestoTortellini.png"></span>
        <span><img src="/images/tapenadeCausa.png"></span>
        <span><img src="/images/tapenadeOmelette.png"></span>
        <span><img src="/images/tapenadePizzetas.png"></span>
        <span><img src="/images/ayudante.png"></span>
    </div>
    <br>
    <span><a href="/">Volver al Inicio</a></span>

  </body>
</html>