<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Baobabs</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>
    <h1>Baobabs</h1>
    <h3>Bienvenidos a un mundo de gustos naturales!</h3>
    <img id="img-home" src="/images/mermeladaFresa.png">
    <br>
    <br>
    <span><a href="/about">Acerca de la creadora</a></span>
    <span><a href="/works">Ver las creaciones</a></span>
    <span><a href="/gallery">Ir a la galería de fotos</a></span>
  </body>
</html>