<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Works</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>
    <h1>Productos</h1>
        <div class="container">

                <span>
                    <h3>Mermelada de Aguaymanto</h3>
                    <img src="/images/mermeladaAguaymanto.png">
                </span>
                <span>
                    <h3>Mermelada de Fresa</h3>
                    <img src="/images/mermeladaFresa.png">
                </span>
                <span>
                    <h3>Tapenade a las Finas Hierbas</h3>
                    <img src="/images/tapenadeFinasHierbas.png">
                </span>
        </div>
        <br>
        <span><a href="/">Volver al Inicio</a></span>
  </body>
</html>